* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    }  

.menu-gradient {
    width: 100%;
    height: 765px;
    background: linear-gradient(to bottom,rgba(245, 245, 245, .99) 12%, rgba(252, 252, 252,0) 40% ), url(img/home-page1.jpg) center no-repeat;
    background-size: cover;
}

.container {
    width: 1400px;
    margin: 0 auto;
	height: 100%;
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: -90px;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.header {
    width: 1204px;
    margin: auto;
    padding-top: 45px;
    
    
}

.header-gradient {
    position:relative;
    height: 790px;
    left:0;
    right:0;
}

.menu-list {
     list-style-type: none;
     float: left;
     letter-spacing: 1.5px;

}

.menu-link {
     color: #8c8c8c;
     border-bottom: 2px solid rgba(33, 33, 33,0);
     font-size: 14px;
     font-weight: 300;
     text-decoration: none;
     text-transform: uppercase;
     padding: 10px 13px;
}

.menu a:hover {
    color: #000000;
    border-bottom: 2px solid rgba(33, 33, 33,1);
    transition-property: border-bottom-color;
    transition-duration: 0.3s;
    transition-timing-function:ease-out;
}

.active-menu {
    color: #000000;
    border-bottom: 2px solid rgba(33, 33, 33,1);
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 1px solid #212121;
}

.menu {
    float: right;
    padding-top: 0;
    margin-right: 40px;
}

.menu .search:hover {
    border-bottom: none;
}

.submenu-header {
    height: 70px;
    margin: 29px 0;
    background-color: #f4f4f4;
    position: relative;
    padding: 0 98px;
    overflow: hidden;
}

.submenu-header ul {
    list-style: none;
    margin: 20px auto;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
}

.submenu-header ul li {
    position: relative;
    left: -50%;
    float: left;
    margin: 0 10px;
}

.submenu-link {
    color: #8a8a8a;
    display: block;
    text-decoration: none;
    padding: 0 15px;
    line-height: 40px;
    font-size: 18px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: 700;
}

.submenu-header ul li a:hover {
    color: #000000;
}

.active-submenu {
    color: #000000;
}

.product-block {
    width: 1204px;
    margin: auto;

}

/*___________Табы - бэки___________*/


.tabs {
    position: relative; /* Относительное позиционирование */
    display: block;
    width: 1204px;
    margin: 765px auto;
   }
   
.tab, .tab-title {
    display: inline-block; /* Выстраиваем по горизонтали */
   }


.tab input[type="radio"] { display: none; }

.tab-title {
    /*background: #ccc;*/ /* Цвет фона */
    padding: 5px 10px; /* Поля вокруг текста */
    /*border: 1px solid #666; /* Параметры рамки */
    border-bottom: 3px solid rgba(33, 33, 33, 0); /* Снизу линию убираем */
    color: #212121;
    font-size: 36px;
    font-weight: 700;
   }

.tabs .tab:nth-child(3) {
    float: right;
    padding-top: 10px;
}

.tabs .tab:nth-child(3) a{
    float: right;
    color: #212121;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function:ease-out;
}

.tabs .tab:nth-child(3) a>img{
    padding-left: 15px;
    padding-right: 15px;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function:ease-out;
}

.tabs .tab:nth-child(3) a:hover>img {
    padding-right: 20px;
    padding-left: 10px;
    /*padding-left: 0;*/
    
}

.tabs .tab:nth-child(3) a:hover {
    color: red;
}

.tab-content {
    position: absolute; /* Абсолютное позиционирование */
    /*border: 1px solid #666; /* Параметры рамки */
    /*padding: 10px; /* Поля вокруг текста */
    /*margin-top: 50px;*/
    left: 0; /* Размещаем у левого края */
    /*width: calc(100% - 20px); /* Ширина содержимого */
    width: 1210px;
    height: 270px;
    display: none; /* Прячем вкладку */
    opacity: 0%;
   }
.tab :checked + .tab-title {
    position: relative; /* Относительное позиционирование */
    /*background: #fff; /* Цвет фона */
    /*top: 1px; /* Сдвигаем вниз */*/
    z-index: 1; /* Отображаем поверх содержимого */
    border-bottom: 3px solid rgba(33, 33, 33, 1);
    transition-property: border-bottom-color, color;
    transition-duration: 0.3s;
    transition-timing-function:ease-out;
   }

.tab :not(:checked) + .tab-title{
    color: #6c6c6c;
}

.tab :checked ~ .tab-content {
    transition: all 0.3s ease-out;
    display: block; /* Показываем активную вкладку */
    opacity: 100%;
   }


.tab:not(:checked) .tab-title{
    cursor: pointer;
}

.tab:checked  .tab-tittle{
    cursor: default;
}


/*_______________________________*/


.product-image {
    display: inline-block;
    margin-left: 0px;
    height: 430px;
    width: 430px;
}

.product-image img {
    margin: 80px 80px;
    height: 270px;
    width: 270px;
}

.description {
    display: inline-block;
    height: 430px;
    width: 430px;
    margin-right: 45px;
    float: right;
}

.description h2 {
    text-align: center;
    padding-top: 70px;
    
 }

.description h5 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 1.8px;
    color: #e53935;
}

.description h3 {
    text-align: center;
    margin-top: 28px;
    font-weight: 300;
    font-size: 36px;
    margin-left: 110px;
}

.description .btn-buy .white-arrow {
    position: absolute;
    padding-top: 4px;
    padding-left: 18px;
    height: 15px;
    transition-property: padding-left;
    transition-duration: 0.6s;
    transition-timing-function:ease-out;
}

.description .btn-buy {
    margin-top: 35px;
    margin-left: 35px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    width: 500px;
    height: 71px;
    background-color: #f44336;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 35px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 4.4px;
}
.description .btn-buy:hover{
    box-shadow: 0 4px 5px 1px rgba(33, 33, 33, 0.35);
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function:ease-out;
}

.description .btn-buy:hover .white-arrow{
    padding-left: 3px;
    transition-property: padding-left;
    transition-duration: 0.6s;
    transition-timing-function:ease-out;
}



.description p {
    margin-top: 20px;
    letter-spacing: 1.6px;
    line-height: 1.5;
}

.lower-tittle1 {
    width: 1204px;
    margin: 50px auto;
}

.lower-tittle1 h1{
    float: left;
}

.lower-tittle1 a {
    float: right;
    color: #212121;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function:ease-out;
}

.lower-tittle1 a>img{
    padding-left: 15px;
    padding-right: 15px;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function:ease-out;
}

.lower-tittle1 a:hover>img {
    padding-right: 20px;
    padding-left: 10px;
}

.lower-tittle1 a:hover {
    color: red;
}

.related-products {
    width: 1204px;
    margin: auto;
    display: flex;
    height: 375px;
    justify-content: space-between;
    padding: 0 94px;
    overflow: hidden;
}

.related-products li{
    display: block;
    position: relative;
    list-style-type: none;
}

.descr {
    position: absolute;
    width: 100%;
    height: 325px;
    padding-top: 45px;
    text-align: center;
    color: #212121;
    background-color: rgba(255, 255, 255, .8);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1.8;
    border: 1px solid #9c9c9c;
    opacity: 0%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function:ease-out;
}

.descr p {
    display: block;
    margin: 125px 15px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24.01px;
    letter-spacing: 0.4px;
}

.related-products li:hover .descr {
    display: block;
    opacity: 100%;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function:ease-out;
}

.related-products li:hover {
}

.related-products .btn-buy {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    width: 212px;
    height: 45px;
    border: 2px solid #9c9c9c;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3.6px;
    display: block;
    margin-top: 30px;
    margin-left: 80px;
    position: absolute;
    border: 2px solid #212121;
    border-color: #212121;
    color: #212121;
    background-color: #ffffff;
}

.related-products .btn-buy:hover{
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    color: #212121;
    transition-property: box-shadow;
    transition-duration: 0.15s;
    transition-timing-function:ease-out;
}

.footer {
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    margin: 0 auto;
    margin-top: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-contact {
    line-height: 22px;
    width: 220px;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
}

.footer h2 {
    text-align: center;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.footer-contact p {
    margin-top: 25px;
}

.footer-information {
    width: 422px;
}

.footer-information .ul-left {
    margin-top: 25px;
    float: left;
    list-style-type: none;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}
    
.footer-information .ul-right {
    margin-top: 25px;
    float:right;
    list-style-type: none;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.footer-email {
    line-height: 22px;
    width: 370px;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
}

.footer-email p {
    margin-top: 25px;
}

.footer-email input {
    margin-top: 25px;
    width: 100%;
    height: 48px;
}

.footer-up {
    display: flex;
    justify-content: space-between;
    width: 1204px;
    margin: 0 auto;
}

.footer-under {
    display: flex;
    justify-content: space-between;
    width: 1204px;
    margin: 0 auto;
    margin-top: 70px;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}



/*___________Табы - бэки___________*/



.tabs-goods {
    margin-top: 50px;
    width: 1210px;
    height: 275px;
}

.tabs-goods .related-products {
    display: flex;
    height: 270px;
    justify-content:space-between;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.tabs-goods .related-products li{
    display: block;
    height: 270px;
    width: 270px;
    position: relative;
    list-style-type: none;
}

.tabs-goods .descr {
    position: absolute;
    width: 100%;
    height: 223px;
    width: 223px;
    padding-top: 45px;
    padding-left: 45px;
    text-align: center;
    color: #212121;
    background-color: rgba(255, 255, 255, .8);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1.8;
    border: 1px solid #9c9c9c;
    opacity: 0%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function:ease-out;
}

.tabs-goods .descr p {
    display: block;
    margin: 95px 10px;
    margin-right: 45px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.01px;
    letter-spacing: 0.4px;
}

.tabs-goods .descr p:first-letter{
    text-transform: capitalize;
}

.tabs-goods .descr h4{
    font-size: 22px;
    font-weight: 700;
    margin-left: -45px;
    text-transform: capitalize;
}


.tabs-goods .related-products li:hover .descr {
    display: block;
    opacity: 100%;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function:ease-out;
}

.tabs-goods .related-products li:hover {
}

.tabs-goods .related-products .btn-buy {
    width: 48px;
    height: 48px;
    display: block;
    margin-top: 20px;
    margin-left: 66px;
    position: absolute;
    border: 0px solid #212121;
    color: #212121;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.tabs-goods .related-products .btn-buy img {
    margin-top: 14px;
    margin-left: 4px;
}

.tabs-goods .related-products .btn-buy:hover {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    color: #212121;
    transition-property: box-shadow;
    transition-duration: 0.15s;
    transition-timing-function:ease-out;
}

.tabs .related-products .featured-products {
    -webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-fill-mode: easy-out;
	animation-fill-mode: backwards;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


/*__________________________*/


.promo {
    margin-top: 550px;
    display: flex;
}



.promo-1 {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 690px;
    background-color: #e7e9eb;
    overflow: hidden;
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function:linear;
}

.promo-1 img{
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function:linear;
}

.promo-1:hover img{
   /* overflow: hidden;*/
    transform: scale(1.065);
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function:linear;
}

.promo-descr {
    padding-left: 65px;
    width: 60%;
}

.promo-descr h4 {
    padding-top: 150px;
    color: #1e88e5;
    font-size: 21px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.promo-descr h1 {
    padding-top: 25px;
    font-size: 40px;
    font-weight: 700;
}

.promo-descr p {
    padding-top: 15px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 300;
    line-height: 24.04px;    
}

.promo-descr .btn-buy .white-arrow {
    position: absolute;
    padding-top: 17px;
    padding-left: 18px;
    height: 15px;
    transition-property: padding-left;
    transition-duration: 0.2s;
    transition-timing-function:ease-out;
}

.promo-descr .btn-buy {
    margin-top: 40px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    width: 212px;
    height: 46px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    line-height: 47px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}
.promo-descr .btn-buy:hover{
    box-shadow: 0 4px 5px 1px rgba(33, 33, 33, 0.35);
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function:ease-out;
}

.promo-descr .btn-buy:hover .white-arrow{
    padding-left: 12px;
    transition-property: padding-left;
    transition-duration: 0.2s;
    transition-timing-function:ease-out;
}

.promo img {
    float: right;
}

.promo-2 {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 690px;
    background-color: #f7f7f7;
    overflow: hidden;
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function:linear;
}

.promo-2 img{
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function:linear;
}

.promo-2:hover img{
   /* overflow: hidden;*/
    transform: scale(1.065);
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function:linear;
}

.lower-titte {
    width: 1400px;
    margin: 0 auto;
}

.lower-tittle:nth-child(3) {
    margin-top: 100px;
    
}

.tranding-products2 {
    margin-top: 50px;
}

.promo-all-width {
    display: flex;
    margin-top: 80px;
    width: 100%;
    height: 500px;
    background-color: #f0f0f0;
}

.promo-all-width img {
    float: right;
}

.promo-all-width .promo-descr h4 {
    color: #e53935;
}

.promo-goods {
    display: flex;
    justify-content: space-between;
    width: 1204px;
    height: 570px;
    margin: 50px auto;
}
.promo-goods1 {
    border: 1px solid #c2c2c2;
    width: 570px;
    height: 570px;
}

.promo-goods1 .promo-descr {
    width: 300px;
    position: absolute;
}

.promo-goods .promo-descr h4 {
    font-size: 18px;
}

.promo-goods .promo-descr h1 {
    padding-top: 10px;
    font-size: 36px;
}

.promo-goods .promo-descr p {
    font-size: 14px;
}

.promo-goods .promo-descr .btn-buy .white-arrow {
    padding-top: 0px;
}

.promo-goods2 {
    width: 570px;
    height: 570px;
    list-style-type: none;
}

.promo-goods2 ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}


.promo-goods2 ul:nth-child(1){
    padding: 1px 1px;
}

.promo-goods2 ul:nth-child(2){
   margin-top:  -78px;
    padding: 0 1px;
}

.promo-goods2 .related-products {
    width: 570px;
}

.promo-goods2 .related-products li{
    display: block;
    height: 270px;
    width: 270px;
    position: relative;
    list-style-type: none;
}

.promo-goods2 .descr {
    position: absolute;
    width: 100%;
    height: 223px;
    width: 223px;
    padding-top: 45px;
    padding-left: 45px;
    text-align: center;
    color: #212121;
    background-color: rgba(255, 255, 255, .8);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1.8;
    border: 1px solid #9c9c9c;
    opacity: 0%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function:ease-out;
}

.promo-goods2 .descr p {
    display: block;
    margin: 95px 10px;
    margin-right: 45px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.01px;
    letter-spacing: 0.4px;
}

.promo-goods2 .descr h4{
    font-size: 22px;
    font-weight: 700;
    margin-left: -45px;
}


.promo-goods2 .related-products li:hover .descr {
    display: block;
    opacity: 100%;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function:ease-out;
}

.promo-goods2 .related-products li:hover {
}

.promo-goods2 .related-products .btn-buy {
    width: 48px;
    height: 48px;
    display: block;
    margin-top: 20px;
    margin-left: 66px;
    position: absolute;
    border: 0px solid #212121;
    color: #212121;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.promo-goods2 .related-products .btn-buy img {
    margin-top: 14px;
    margin-left: 4px;
}

.promo-goods2 .related-products .btn-buy:hover {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    color: #212121;
    transition-property: box-shadow;
    transition-duration: 0.15s;
    transition-timing-function:ease-out;
}

.promo-all-width2 {
    display: flex;
    margin-top: 80px;
    width: 100%;
    height: 500px;
    background-color: #f9f4f1;
    margin-bottom: -70px;
}

.promo-all-width2 img {
    float: right;
}

.promo-all-width2 .promo-descr h4 {
    padding-top: 50px;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #6c6c6c;
    letter-spacing: 1.8px;
}

.promo-all-width2 .promo-descr h1 {    
    color: #212121;
    font-size: 62px;
    font-weight: 30;
    line-height: 72px;
    text-transform: uppercase;
}

.promo-all-width2 .promo-descr a {

}

.promo-all-width2 .promo-descr a>img{

}

.app-google {
    margin-top: 15px;
     float: left;
}

.app-google a img {
     padding-left: 20px;
}

.login {
     padding: 30px;
     margin: 20px auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     width: 350px;
     list-style-type: none;
     border: 1px solid #dbd9d9;
     background-color: #fcfcfc;
}

.authapp-container {
     margin-top: 100px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.login ul {
    list-style-type: none;
}

.login label {
    font-size: 20px;
    color: #828282;
}

.login li input {
    margin-top: 15px;
    height: 25px;
    width: 100%;
    font-size: 20px;
    border:none;
    border-bottom: 1px solid #dbd9d9;
    outline: none;
    letter-spacing: 1.2px;
    background-color: #fcfcfc;
}

.login li {
    padding-top: 25px;
}

.errorlist {
    display: none;
}

.login .login-btn {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    width: 212px;
    height: 45px;
    border: 2px solid #9c9c9c;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3.6px;
    display: block;
    position: relative;
    margin: 0 auto;
    border: 2px solid #212121;
    border-color: #212121;
    color: #212121;
    background-color: #ffffff;
}

.login .login-btn:hover {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    color: #212121;
    transition-property: box-shadow;
    transition-duration: 0.15s;
    transition-timing-function:ease-out;
}

.sign-up {
    margin-top: 65px;
}

.sign-up a {
    text-decoration: none;
    color: #ff6e6e;
}

.sign-up a:first-letter {
    text-transform: capitalize;
}

.register {
     padding: 30px;
     margin: 20px auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 630px;
     width: 350px;
     list-style-type: none;
     border: 1px solid #dbd9d9;
     background-color: #fcfcfc;
}

.register label {
    font-size: 20px;
    color: #828282;
}

.register li input {
    margin-top: 15px;
    height: 25px;
    width: 100%;
    font-size: 20px;
    border:none;
    border-bottom: 1px solid #dbd9d9;
    outline: none;
    letter-spacing: 1.2px;
    background-color: #fcfcfc;
}

.register li {
    padding-top: 25px;
}

.register .login-btn {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    width: 212px;
    height: 45px;
    border: 2px solid #9c9c9c;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3.6px;
    display: block;
    position: relative;
    margin: 20px auto;
    border: 2px solid #212121;
    border-color: #212121;
    color: #212121;
    background-color: #ffffff;
}

.register .login-btn:hover {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    color: #212121;
    transition-property: box-shadow;
    transition-duration: 0.15s;
    transition-timing-function:ease-out;
}

.edit {
     padding: 30px;
     margin: 20px auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-color: #fcfcfc;
     align-items: center;
     list-style-type: none;
     border: 1px solid #dbd9d9;
}

.edit label {
    font-size: 20px;
    color: #828282;
}

.edit li input {
    margin-top: 15px;
    height: 25px;
    width: 100%;
    font-size: 20px;
    border:none;
    border-bottom: 1px solid #dbd9d9;
    outline: none;
    letter-spacing: 1.2px;
    background-color: #fcfcfc;
}

.edit li {
    padding-top: 25px;
}

.edit .login-btn {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    width: 212px;
    height: 45px;
    border: 2px solid #9c9c9c;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3.6px;
    display: block;
    position: relative;
    margin: 20px auto;
    border: 2px solid #212121;
    border-color: #212121;
    color: #212121;
    background-color: #ffffff;
}

.edit .login-btn:hover {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    color: #212121;
    transition-property: box-shadow;
    transition-duration: 0.15s;
    transition-timing-function:ease-out;
}

.home {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #212121;
}

.products-list {
    width: 1204px;
    margin: auto;


}

.category-items{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;

}

.category-items li {
    padding-left: 0px;
    padding-right: 24px;
    margin-top: 50px;
    width: 270px;
}

.category-items .product-img{
    height: 270px;
    width: 270px;
}

.item-descr h3 {
    margin-top: 20px;
    text-transform: uppercase;
}

.item-descr p {
    margin-top: 5px;
    font-size: 13px;
}

.item-descr h5 {
    margin-top: 15px;
}

.item-descr a{
    opacity: 0;
    height: 40px;
    width: 40px;
    float: right;
    margin-right: 25px;
    margin-top: 15px;
    border: 1px solid #303030;
    border-radius: 100%;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function:ease-out;
}

.category-items li:hover .item-descr a{
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function:ease-out;
}

.item-descr a:hover {
    background-color: #dedede;
}

.item-descr a img {
    margin: 8px 8px;
}

.item-descr h6 {
    margin-top: 5px;
}

.unavailable {
    color: #ff5e5e;
}

.menu-list .basket-value {
    position: absolute;
    z-index: 5;
    margin-top: 3px;
    margin-left: 3px;
}


.description .basket{
    height: 40px;
    width: 40px;
    float: right;
    margin-right: 70px;
    margin-top: 5px;
    border: 1px solid #303030;
    border-radius: 100%;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function:ease-out;
}

.description h2:first-letter {
    text-transform: uppercase;
}

.description a:hover {
    background-color: #dedede;
}

.shop-cart {
    width: 1204px;
    margin: auto;
}

.cart-items {
    margin-top: 50px;
}

.cart-items li {
    margin-top: 30px;
    list-style-type: none;
}

.cart-items li span {
    margin-right: 850px;
    float: right;
}
.cart-items .cart-item-img {
    height: 120px;
    width: 120px;
    border-radius: 10px;
}

.cart-item-descr p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.cart-item-descr a {
    padding-top: 6px;
}

.admin-header {
    margin-top: 20px;
    width: 100%
}

.admin-header h2 {
    text-align: center;
}

.admin-menu-list {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.admin-menu-item {
    list-style-type: none;
    margin: 0 25px;
}

.admin-menu-link {
     text-decoration: none;
     color: #8c8c8c;
     border-bottom: 2px solid rgba(33, 33, 33,0);
     font-size: 15px;
     font-weight: 500;
     text-decoration: none;
     text-transform: uppercase;
     padding: 10px 13px;
}

.admin-menu-item a:hover {
    color: #000000;
    transition-property: border-bottom-color;
    transition-duration: 0.3s;
    transition-timing-function:ease-out;
}

.users_list {
    margin-left: 100px;
    margin-top: 35px;
}

.new_user {
    height: 25px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
}

.new_user a {
     text-decoration: none;
     color: #757c7f;
     border-bottom: 2px solid rgba(33, 33, 33,0);
     font-size: 10px;
     font-weight: 500;
     text-decoration: none;
     text-transform: uppercase;
     padding: 10px 13px;
}

.user_item {
    margin-top: 25px;
    display: flex;
}

.user_item img {
    width: 130px;
    height: 133px;
}

.user_role {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
}

.user_role button {
    height: 25px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
}

.user_role button a {
     text-decoration: none;
     color: #757c7f;
     border-bottom: 2px solid rgba(33, 33, 33,0);
     font-size: 10px;
     font-weight: 500;
     text-decoration: none;
     text-transform: uppercase;
     padding: 10px 13px;
}

.user_name {
    margin: 0 25px;
}

.user_name p {
    margin: 15px 0;
}

.user_age {
    margin: 0 25px;
}

.user_age p {
    margin: 15px 0;
}

.user_email {
    margin: 0 25px;
}

.user_email p {
    margin: 15px 0;
}

.user_lastlogin {
    margin: 0 25px;
}

.user_lastlogin p {
    margin: 15px 0;
}

.categories_list {
    margin-left: 100px;
    margin-top: 35px;
}

.categories_list hr {
    margin-top: 10px;
    margin-right: 100px;
}

.new_category {
    height: 25px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
}

.new_category a {
     text-decoration: none;
     color: #757c7f;
     border-bottom: 2px solid rgba(33, 33, 33,0);
     font-size: 10px;
     font-weight: 500;
     text-decoration: none;
     text-transform: uppercase;
     padding: 10px 13px;
}

.category_record {
    margin-top: 35px;
}

.category_actions {
    display: flex;
    flex-direction: column;
    width:100px;
}

.category_actions button {
    height: 25px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
}

.category_actions button a {
     text-decoration: none;
     color: #757c7f;
     border-bottom: 2px solid rgba(33, 33, 33,0);
     font-size: 10px;
     font-weight: 500;
     text-decoration: none;
     text-transform: uppercase;
     padding: 10px 13px;
}

.products_list {
    margin-left: 100px;
    margin-top: 35px;
}

.new_product {
    height: 25px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
}

.new_product a {
     text-decoration: none;
     color: #757c7f;
     border-bottom: 2px solid rgba(33, 33, 33,0);
     font-size: 10px;
     font-weight: 500;
     text-decoration: none;
     text-transform: uppercase;
     padding: 10px 13px;
}

.product_record img {
    height: 120px;
    width: 120px;
    border-radius: 10px;
}

.not_active {
    opacity: 0.5;
}

.paginator {
    margin-top: 10px;
}

.menu > li {
  display: inline-block;
  position: relative;
}
.menu > li > a {
  position: relative;
}

.down-submenu {
  position: absolute;
  list-style-type: none;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 150px;
  padding: 15px 0 15px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
}
.menu > li:hover .down-submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
.down-submenu a {
  transition: .2s linear;
}

.down-submenu li {
    text-decoration: none;
}

.down-submenu-link{
    text-decoration: none;
    display: block;
    border-bottom: none;
    text-align: center;
    color: #8c8c8c;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 13px;
}

.down-submenu a:hover {
    border-bottom: none;
    background: #e8e8e8;
    }

.auth-social {
    margin-top: 10px;
}

.auth-social-links{
    display: flex;
    justify-content: space-around;
}

.auth-social-link {
    text-decoration: none;
}


.auth-social .auth-social-img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.down-submenu .avatar {
    display: block;
    margin: 20px auto;
    width: 70px;
    height: 70px;
}

.hr {
    margin: 5px auto;
    width: 100%;
    border: none;
    background-color: #c9c9c9;
    color: #c9c9c9;
    height: 1px;
}

.basket-link {
    width: 110px;
}

.basket-link .down-submenu {
    left: 150%;
    width: 300px;
    max-height: 400px;
    overflow: auto;
}

.empty-basket {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.empty-basket img{
    justify-content: center;
    margin-right: 15px;
    height: 75px;
    opacity: .3;
}

.empty-basket span {
    display: block;
    font-size: 14px;
    letter-spacing: normal;
    text-align: center;
    opacity: .4;
    margin-top: 10px;
}

.empty-basket a {
    display: block;
    font-size: 14px;
    letter-spacing: normal;
    text-align: center;
    color: #bdbdbd;
    margin-top: 10px;
    font-weight: 700;
}


.empty-basket a:hover {
    background: none;
}


.mini-basket a:hover {
    background: none;
}

.mini-basket-list {
    margin-left: 15px;
}

.mini-basket-list li {
    margin-top: 15px;
    display: flex;
}

.mini-basket-img {
    height: 70px;
    width: 70px;
    border-radius: 5px;
}

.mini-basket-descr {
    margin-left: 15px;
}

.mini-basket-descr h3 {
    letter-spacing: normal;
    font-size: 14px;
}

.mini-basket-descr p {
    margin-top: 5px;
    letter-spacing: normal;
    font-size: 12px;
}

.delete-cart {
    position: absolute;
    margin-top: 20px;
    left: 85%;
}

::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:6px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#fff;

}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 5px;
border-radius: 5px;
background-color:#c7c7c7;
box-shadow:0px 1px 1px #fff inset;
background-image:url('https://yraaa.ru/_pu/24/59610063.png');
background-position:center;
background-repeat:no-repeat;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:7px;
height:0px
}

::-webkit-scrollbar{
width: 11px;
}

.basket-items-count {
    display: flex;
}

.basket-items-count input {
    width: 50px;
    height: 20px;
    text-align: center;
    margin-top: 5px;
}

.new_order {
    width: 150px;
    height:70px;
}

.orders-title {
    width: 1204px;
    margin: 0 auto;
    margin-bottom: 30px;

}

.orders_list {
    width: 1204px;
    text-align: left;
    margin: 0 auto;
    table-layout: fixed;
}

.orders_list th,
.orders_list td {
    width: 100%;
}

.orders_list tr th {
    color: #ababab;
    padding-bottom: 15px;
    border-bottom: 1px solid #dbdbdb;
}

.orders_list tr td {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dbdbdb;
    font-size: 15px;
}

.orders_list tr td a {
    text-decoration: none;
    color: #ababab;
}

.orders_list tr td a:hover {
    text-decoration: underline;
    color: #212121;
}

.order-buttons {
    width: 1204px;
    margin: 30px auto;
}

.btn-default {
    width: 100px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #030303;
}

.btn-default a {
    text-transform: uppercase;
    text-decoration: none;
    color: #030303;
    font-weight: 600;
}

.btn-default:hover {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    color: #212121;
    transition-property: box-shadow;
    transition-duration: 0.15s;
    transition-timing-function:ease-out;
}

.order_form {
    width: 1204px;
    margin: 0 auto;
    margin-top: 50px;
}

.new-order {
    table-layout: fixed;
    text-align: left;
}

.new-order tr th {
    width: 200px;
}

.order_form button {
    text-transform: uppercase;
    text-decoration: none;
    color: #030303;
    font-weight: 600;
    margin-top: 30px;
}

.order_form button:hover {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    color: #212121;
    transition-property: box-shadow;
    transition-duration: 0.15s;
    transition-timing-function:ease-out;
}

.order-info {
    width: 1204px;
    margin: 40px auto;
}

.category_delete {
    width: 1204px;
    margin: 0 auto;
}

.category_delete input {
    text-transform: uppercase;
    text-decoration: none;
    color: #030303;
    font-weight: 600;
    margin-bottom: 15px;
}

.category_delete input:hover {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    color: #212121;
    transition-property: box-shadow;
    transition-duration: 0.15s;
    transition-timing-function:ease-out;
}






