<div class="tabs">
    <div class="tab">
        <input type="radio" id="tab1" name="tab-group" checked>
        <label for="tab1" class="tab-title">Featured</label>
        <section class="tab-content">
            <div class="tabs-goods">
                <ul class="related-products">
                    <li><span class="descr"><h4>Fishnet Chair</h4><a href="" class="btn-buy" target="_blank"><img src="{% static 'img/arrow.svg' %}" alt=""></a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p></span>
                        <a href=""><img class="featured-products" src="{% static 'img/product-1.jpg' %}" alt=""></a>
                    </li>
                    <li><span class="descr"><h4>Fishnet Chair</h4><a href="" class="btn-buy" target="_blank"><img src="{% static 'img/arrow.svg' %}" alt=""></a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p></span>
                        <a href=""><img class="featured-products" src="{% static 'img/product-2.jpg' %}" alt=""></a>
                    </li>
                    <li><span class="descr"><h4>Fishnet Chair</h4><a href="" class="btn-buy" target="_blank"><img src="{% static 'img/arrow.svg' %}" alt=""></a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p></span>
                        <a href=""><img class="featured-products" src="{% static 'img/product-3.jpg' %}" alt=""></a>
                    </li>
                    <li><span class="descr"><h4>Fishnet Chair</h4><a href="" class="btn-buy" target="_blank"><img src="{% static 'img/arrow.svg' %}" alt=""></a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p></span>
                        <a href=""><img class="featured-products" src="{% static 'img/product-4.jpg' %}" alt=""></a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div class="tab">
        <input type="radio" id="tab2" name="tab-group">
        <label for="tab2" class="tab-title">New</label>
        <section class="tab-content">
            <div class="tabs-goods">
                <ul class="related-products">
                    <li><span class="descr"><h4>Fishnet Chair</h4><a href="" class="btn-buy" target="_blank"><img src="{% static 'img/arrow.svg' %}" alt=""></a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p></span>
                        <a href=""><img class="featured-products" src="{% static 'img/product-4.jpg' %}" alt=""></a>
                    </li>
                    <li><span class="descr"><h4>Fishnet Chair</h4><a href="" class="btn-buy" target="_blank"><img src="{% static 'img/arrow.svg' %}" alt=""></a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p></span>
                        <a href=""><img class="featured-products" src="{% static 'img/product-3.jpg' %}" alt=""></a>
                    </li>
                    <li><span class="descr"><h4>Fishnet Chair</h4><a href="" class="btn-buy" target="_blank"><img src="{% static 'img/arrow.svg' %}" alt=""></a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p></span>
                        <a href=""><img class="featured-products" src="{% static 'img/product-2.jpg' %}" alt=""></a>
                    </li>
                    <li><span class="descr"><h4>Fishnet Chair</h4><a href="" class="btn-buy" target="_blank"><img src="{% static 'img/arrow.svg' %}" alt=""></a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p></span>
                        <a href=""><img class="featured-products" src="{% static 'img/product-1.jpg' %}" alt=""></a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div class="tab">
        <input type="radio" id="tab3" name="tab-group">
        <label for="tab3" class="tab-title"><a href="">explore all<img src="{% static 'img/explore_all.svg' %}" alt=""></a></label>
        <section class="tab-content">Три</section>
    </div>
</div>