<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'style-new.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">
    {% endblock %}
    {% block js %}
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/jquery.formset.js' %}"></script>
        <script src="{% static 'js/orders_scripts.js' %}"></script>
    {% endblock %}
</head>
<body>
    <div class="header clearfix padding-site">
        <a href="#"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
        <ul class="menu clearfix">
            <li class="menu-list"><a href="{% url 'main' %}" class="menu-link {% if request.resolver_match.url_name == 'main' %}active-menu{% endif %}">HOME</a></li>
            <li class="menu-list"><a href="{% url 'products:index' %}" class="menu-link {% if request.resolver_match.url_name == 'index' %}active-menu{% endif %}">PRODUCTS</a>
                <ul class="down-submenu">
                    {% for link in submenu%}
                    <li><a href="{% url 'products:category' link.pk %}" class="down-submenu-link">{{ link.name}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="menu-list">
                {% if user.is_authenticated %}
                <a href="" class="menu-link down">{{ user.first_name|default:'User' }}</a>
                <ul class="down-submenu">
                    <img class="avatar" src="/media/{{ object.avatar|default:'users_avatars/default.png' }}" alt="{{ object.username }}">
                    <li><a href="{% url 'auth:edit' %}" class="down-submenu-link">account</a></li>
                    <li><a href="{% url 'ordersapp:orders_list' %}" class="down-submenu-link">my orders</a></li><hr class="hr">
                    <li><a href="{% url 'auth:logout' %}" class="down-submenu-link">logout</a></li>
                </ul>
                {% else %}
                <a href="{% url 'auth:login' %}" class="menu-link search"><img src="{% static 'img/login.svg' %}" alt="search"></a>
                {% endif %}
            </li>
            {% if user.is_superuser %}
                <li class="menu-list">
                  <a href="{% url 'admin:users' %}" class="menu-link">admin tools</a>
                </li>
            {% endif %}
            <li class="menu-list basket-link">
                <a href="{% url 'basket:view' %}" class="menu-link search basket"><img src="{% static 'img/shop_cart.svg' %}" alt="search">
                    <span class="basket-value">
                        {% if basket %}
                            {{ basket.0.total_cost }}$({{ basket.0.total_quantity }})
                        {% endif %}
                    </span>
                </a>
                {% if user.is_authenticated %}
                <ul class="down-submenu">
                    {% if basket %}
                        {% for item in basket %}
                            <div class="mini-basket">
                                <ul class="mini-basket-list">
                                    <li>
                                        <a href="#"><img class="mini-basket-img" src="/media/{{ item.product.image }}" alt=""></a>
                                        <span class="mini-basket-descr">
                                            <h3>{{ item.product.name }}</h3>
                                            <p>price-per-unit: {{ item.product.price }} $</p>
<!--                                                    <input type="number" name="{{ item.pk }}" min="0" value="{{ item.quantity }}">-->
                                            <p>count: {{ item.quantity }}</p>

                                        </span>
                                        <a class="delete-cart" href="{% url 'basket:remove' item.pk %}"><img src="{% static 'img/delete-cart.svg' %}" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="empty-basket">
                            <img src="{% static 'img/shopping-cart.svg' %}" alt="">
                            <span>Your shopping cart<br> is empty.<br></span>
                            <a href="{% url 'products:index' %}">Add product</a>
                        </div>
                    {% endif %}
                </ul>
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="submenu-header">
      {% include 'mainapp/Include/inc_submenu.html' %}
    </div>
	<div class="order_container">
        {% block content %}

        {% endblock %}
        
	</div>
</body>
</html>